docs/Technical resources/FedNow-Service-XML-Schema-Quick-Start-Package-Jun.-1-2023/test_schemas/fednow-variants/AccountActivityTotalsReport.camt.052.001.08.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2016. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: FedNow Service
Collection: FedNow Service Release 1
Usage Guideline: AccountActivityTotalsReport.camt.052.001.08
Base Message: camt.052.001.08
Date of publication: 01 June 2023
URL: https://www2.swift.com/mystandards/#/mp/mx/_kijaUKEYEeuB-v2uhrZqSw/_qR07RZ5FEeyNX8SYmSuaLA
Description: FedNow Service Scope

The account activity totals report is the message the FedNow Service uses to provide a FedNow participant with a summary of value and nonvalue messages that were processed by the FedNow Service for a given funds-transfer business day and associated with the given FedNow participant.

FedNow Service Usage

The account activity totals report is used by FedNow participants for reconciliation purposes.

The FedNow Service will send the report to all FedNow participants, on an unsolicited basis, after the close of the FedNow funds-transfer business day.

A FedNow participant can solicit the report during a FedNow funds-transfer business day to obtain a summary at a certain point in time, or for up to 90 previous FedNow funds-transfer business days by sending an account report request (camt.060) message to the FedNow Service. If the FedNow participant requests and account activity totals report for a range of FedNow Service funds-transfer business days, then the FedNow Service will send a separate account activity totals report for each individual FedNow Service funds-transfer business day within the range of days.
Generated by the MyStandards web platform [https://www.swift.com/mystandards] on 2023-06-01T13:54:05+00:00
-->
<!---->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:camt.052.001.08" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.052.001.08">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification4Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountIdentification4Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the unique identification of an account as assigned by the account servicer.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Othr" type="GenericAccountIdentification1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of an account, as assigned by the account servicer, using an identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AccountReport25__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountReport25__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides further details of the account report.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="ReportTiming_FRS_1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification, as assigned by the account servicer, to unambiguously identify the account report.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the report was created.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Acct" type="CashAccount39__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Account</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the account to which credit and debit entries are made.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RltdAcct" type="CashAccount38__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RelatedAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the parent account of the account for which the report has been issued.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TxsSummry" type="TotalTransactions6__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionsSummary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides summary information on entries.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AccountReporting_FedNow_1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountReporting_FedNow_1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">This lists the different types of account reports or account notifications delivered by the FedNow Service.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="AATR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountActivityTotalsReport</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">This is an end-of-day account activity totals report of all FedNow Service messages sent and received for a specified routing number of a FedNow participant.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CATR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CorrespondentAccountActivityTotalsReport</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">This is an end-of-day account activity totals report of all FedNow Service value messages sent and received by all respondents of a specified correspondent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IATR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IntradayAccountActivityTotalsReport</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">This is an intraday account activity totals report of all FedNow Service messages sent and received for a specified routing number of a FedNow participant.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CITR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CorrespondentIntradayAccountActivityTotalsReport</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">This is an intraday account activity totals report of all FedNow Service value messages sent and received by all  respondents of a specified correspondent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BankToCustomerAccountReportV08">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BankToCustomerAccountReportV08</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
                The BankToCustomerAccountReport message is sent by the account servicer to an account owner or to a party authorised by the account owner to receive the message. It can be used to inform the account owner, or authorised party, of the entries reported to the account, and/or to provide the owner with balance information on the account at a given point in time.&#13;
                Usage&#13;
                The BankToCustomerAccountReport message can contain reports for more than one account. It provides information for cash management and/or reconciliation. It can be used to:&#13;
                - report pending and booked items;&#13;
                - provide balance information.&#13;
                It can include underlying details of transactions that have been included in the entry.&#13;
                It is possible that the receiver of the message is not the account owner, but a party entitled by the account owner to receive the account information (also known as recipient).&#13;
                For a statement, the Bank-to-Customer Account Statement message should be used.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="GrpHdr" type="GroupHeader81__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GroupHeader</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Common information for the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rpt" type="AccountReport25__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Report</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reports on a cash account.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BankTransactionCodeStructure4__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BankTransactionCodeStructure4__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements used to identify the type or operations code of a transaction entry.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Prtry" type="ProprietaryBankTransactionCodeStructure1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Bank transaction code in a proprietary form, as defined by the issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BankTransactionCode_FedNow_1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BankTransactionCode_FedNow_1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">This lists the categories of messages that are being reported on.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="SENT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NonvalueMessagesSent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">This is used for nonvalue messages submitted by the FedNow Service participant that have been successfully processed by the FedNow Service application.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RCVD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NonvalueMessagesReceived</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">This is used for nonvalue messages that have been successfully processed by the FedNow Service application and delivered to the FedNow Service participant.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RJTS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RejectedMessagesSent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">This is used for value messages sent by a FedNow Service participant that were rejected by the FedNow Service application.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RJTR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RejectedMessagesReceived</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">This is used for value messages received by a FedNow Service participant that eventually were rejected by the FedNow Service application, i.e., were not settled.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CashAccount38__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CashAccount38__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the details to identify an account.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification4Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccount39__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CashAccount39__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the details to identify an account.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification4Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DecimalNumber">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DecimalNumber</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of objects represented as a decimal number, for example 0.75 or 45.6.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="BkToCstmrAcctRpt" type="BankToCustomerAccountReportV08"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericAccountIdentification1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericAccountIdentification1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to a generic account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="RoutingNumber_FRS_1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GroupHeader81__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GroupHeader81__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides further details on the message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="AccountReporting_FedNow_1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the account servicing institution, and sent to the account owner or the party authorised to receive the message, to unambiguously identify the message.
                        Usage: The account servicing institution has to make sure that MessageIdentification is unique per account owner for a pre-agreed period.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the message was created.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MsgPgntn" type="Pagination1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessagePagination</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides details on the page number of the message.

                        Usage: The pagination of the message is only allowed when agreed between the parties.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlBizQry" type="OriginalBusinessQuery1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OriginalBusinessQuery</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification, as assigned by the original requestor, to unambiguously identify the business query message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
                Note on the time format:
                1) beginning / end of calendar day
                00:00:00 = the beginning of a calendar day
                24:00:00 = the end of a calendar day
                2) fractions of second in time format
                Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max15NumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max15NumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a numeric string with a maximum length of 15 digits.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,15}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max5NumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a numeric string with a maximum length of 5 digits.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MessageNameIdentification_FRS_1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageNameIdentification_FRS_1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The Message Name Identification defines the pattern to which all ISO 20022 message identifiers of messages implemented across Federal Reserve Financial Services, e.g., the FedNow or Fedwire Funds Services, need to conform. It is composed of the following parts, separated by a dot '.': the business area (e.g., 'pacs'), the message number (e.g., '008'), the message variant (i.e., '001' for all messages), and the message version (e.g., '01').</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{4,4}[.]{1,1}[0-9]{3,3}[.]{1,1}001[.]{1,1}[0-9]{2,2}"/>
            <xs:length value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NumberAndSumOfTransactions1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NumberAndSumOfTransactions1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements providing the total sum of entries.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="NbOfNtries" type="Max15NumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NumberOfEntries</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number of individual entries included in the report.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Sum" type="DecimalNumber">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Sum</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total of all individual entries included in the report.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OriginalBusinessQuery1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OriginalBusinessQuery1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique identification, as assigned by the original requestor, to unambiguously identify the business query message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the original initiating party, to unambiguously identify the original query message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNmId" type="MessageNameIdentification_FRS_1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageNameIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the query message name identifier to which the message refers.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the message was created.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Pagination1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Pagination1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number used to sequence pages when it is not possible for data to be conveyed in a single message and the data has to be split across several pages (messages).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PgNb" type="Max5NumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PageNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Page number.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LastPgInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LastPageIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates the last page.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryBankTransactionCodeStructure1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ProprietaryBankTransactionCodeStructure1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements to fully identify a proprietary bank transaction code.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Cd" type="BankTransactionCode_FedNow_1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary bank transaction code to identify the underlying transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ReportTiming_FRS_1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReportTiming_FRS_1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">This indicates whether the report is sent intraday or at the end of day.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="EDAY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EndOfDay</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">This is an end-of-day report.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IDAY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Intraday</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">This is an intraday report.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RoutingNumber_FRS_1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RoutingNumber_FRS_1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">This is a routing number used by the Service participant in connection with the message.&#13;
                &#13;
                Note: This may be a master account routing number or a subaccount routing number. </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{9,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TotalTransactions6__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TotalTransactions6__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements used to provide summary information on entries.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="TtlCdtNtries" type="NumberAndSumOfTransactions1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TotalCreditEntries</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the total number and sum of credit entries.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TtlDbtNtries" type="NumberAndSumOfTransactions1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TotalDebitEntries</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the total number and sum of debit entries.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="4" minOccurs="0" name="TtlNtriesPerBkTxCd" type="TotalsPerBankTransactionCode5__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TotalEntriesPerBankTransactionCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the total number and sum of entries per bank transaction code.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TotalsPerBankTransactionCode5__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TotalsPerBankTransactionCode5__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements used to provide the total sum of entries per bank transaction code.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="NbOfNtries" type="Max15NumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NumberOfEntries</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number of individual entries for the bank transaction code.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BkTxCd" type="BankTransactionCodeStructure4__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BankTransactionCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Set of elements used to fully identify the type of underlying transaction resulting in an entry.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">YesNoIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates a "Yes" or "No" type of answer for an element.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
