docs/Technical resources/FedNow-Service-XML-Schema-Quick-Start-Package-Jun.-1-2023/test_schemas/fednow-variants/AccountReportingRequest_camt.060.001.05.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2016. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: FedNow Service
Collection: FedNow Service Release 1
Usage Guideline: AccountReportingRequest_camt.060.001.05
Base Message: camt.060.001.05
Date of publication: 01 June 2023
URL: https://www2.swift.com/mystandards/#/mp/mx/_kijaUKEYEeuB-v2uhrZqSw/_qR07UZ5FEeyNX8SYmSuaLA
Description: FedNow Service Scope

The account reporting request is the message the FedNow participant uses to solicit a report from the FedNow Service.

FedNow Service Usage

The account reporting request is used to request the FedNow Service to send an account balance report, an account activity totals report, or an account activity details report.

If the account reporting request is successfully processed, then the FedNow Service will send the requested report to the FedNow participant using the ISO 20022 Bank-to-Customer Account Report message (camt.052).

Generated by the MyStandards web platform [https://www.swift.com/mystandards] on 2023-06-01T13:54:06+00:00
-->
<!---->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:camt.060.001.05" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.060.001.05">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification4Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountIdentification4Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the unique identification of an account as assigned by the account servicer.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Othr" type="GenericAccountIdentification1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of an account, as assigned by the account servicer, using an identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AccountReportingRequestV05">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountReportingRequestV05</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
                The AccountReportingRequest message is sent by the account owner, either directly or through a forwarding agent, to one of its account servicing institutions. It is used to ask the account servicing institution to send a report on the account owner's account in a BankToCustomerAccountReport (camt.052), a BankToCustomerStatement (camt.053) or a BankToCustomerDebitCreditNotification (camt.054).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="GrpHdr" type="GroupHeader77__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GroupHeader</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Set of elements used to provide further details on the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RptgReq" type="ReportingRequest5__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportingRequest</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Set of elements used to provide further details on the reporting request.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AccountReporting_FedNow_1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountReporting_FedNow_1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">This lists the different types of account reports or account notifications delivered by the FedNow Service.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ABAR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountBalanceReport</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">This is an account balance report for a specified routing number of a FedNow Service participant.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AADR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountActivityDetailsReport</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">This is an end-of-day detailed account activity report of all FedNow Service messages sent and received for a specified routing number of a FedNow participant.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AATR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountActivityTotalsReport</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">This is an end-of-day account activity totals report of all FedNow Service messages sent and received for a specified routing number of a FedNow participant.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CATR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CorrespondentAccountActivityTotalsReport</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">This is an end-of-day account activity totals report of all FedNow Service value messages sent and received by all respondents of a specified correspondent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CADR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CorrespondentAccountActivityDetailsReport</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">This is an end-of-day detailed account activity report of all FedNow Service value messages sent and received by all respondents of a specified correspondent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IATR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IntradayAccountActivityTotalsReport</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">This is an intraday account activity totals report of all FedNow Service messages sent and received for a specified routing number of a FedNow participant.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CITR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CorrespondentIntradayAccountActivityTotalsReport</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">This is an intraday account activity totals report of all FedNow Service value messages sent and received by all  respondents of a specified correspondent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AccountType_FRS_1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountType_FRS_1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">This lists the different account types used for account reporting purposes.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="S">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SingleRoutingNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The report reflects debit and credit activity associated with the Inquiry Routing Number regardless of whether the Inquiry Routing Number is a subaccount routing number or the master account routing number. </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="M">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MasterAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The report reflects debit and credit activity associated with the master account tied to the Inquiry Routing Number (this includes activity associated with both the master account routing number and all subaccount routing numbers).  </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification6__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BranchAndFinancialInstitutionIdentification6__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a financial institution or a branch of a financial institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a financial institution, as assigned under an internationally recognised or proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccount38__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CashAccount38__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the details to identify an account.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification4Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="CashAccountType2Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the nature, or use of the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccountType2Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CashAccountType2Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Nature or use of the account.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Prtry" type="AccountType_FRS_1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nature or use of the account in a proprietary form.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ClearingSystemMemberIdentification2__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ClearingSystemMemberIdentification2__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique identification, as assigned by a clearing system, to unambiguously identify a member of the clearing system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MmbId" type="ConnectionPartyIdentifier_FedNow_1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MemberIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a member of a clearing system.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ConnectionPartyIdentifier_FedNow_1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ConnectionPartyIdentifier_FedNow_1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The Connection Party Identifier identifies the organization that maintains an electronic connection to the FedNow Service through which that organization may send or receive messages for itself or on behalf of a FedNow participant. This may be a routing number (RTN), an Electronic Transaction Identifier (ETI), or an identifier defined by the FedNow Service. </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{9,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DatePeriodDetails1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DatePeriodDetails1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Range of time defined by a start date and an end date.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FrDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FromDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start date of the range.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ToDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ToDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">End date of the range.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="AcctRptgReq" type="AccountReportingRequestV05"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionIdentification18__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification18__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the details to identify a financial institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClearingSystemMemberIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information used to identify a member within a clearing system.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericAccountIdentification1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericAccountIdentification1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to a generic account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="RoutingNumber_FRS_1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GroupHeader77__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GroupHeader77__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides further details on the message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="MessageIdentification_FedNow_1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the account owner or the party authorised to send the message, and sent to the account servicing institution, to unambiguously identify the message.
                        Usage: The sender has to make sure that 'MessageIdentification' is unique per account servicing institution for a pre-agreed period.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the message was created.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
                Note on the time format:
                1) beginning / end of calendar day
                00:00:00 = the beginning of a calendar day
                24:00:00 = the end of a calendar day
                2) fractions of second in time format
                Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="MessageIdentification_FedNow_1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageIdentification_FedNow_1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The FedNow Message Identification is a reference assigned by the sender of the message. It is composed of the Calendar Date (8 numeric characters, CCYYMMDD), the sender's FedNow Connection Party Identification (9 alphanumeric characters) and a reference assigned by the sender (up to 18 alphanumeric characters).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{8,8}[a-zA-Z0-9]{9,9}[a-zA-Z0-9]{1,18}"/>
            <xs:minLength value="18"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MessageNameIdentification_FRS_1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageNameIdentification_FRS_1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The Message Name Identification defines the pattern to which all ISO 20022 message identifiers of messages implemented across Federal Reserve Financial Services, e.g., the FedNow or Fedwire Funds Services, need to conform. It is composed of the following parts, separated by a dot '.': the business area (e.g., 'pacs'), the message number (e.g., '008'), the message variant (i.e., '001' for all messages), and the message version (e.g., '01').</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{4,4}[.]{1,1}[0-9]{3,3}[.]{1,1}001[.]{1,1}[0-9]{2,2}"/>
            <xs:length value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Party40Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Party40Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a person, an organisation or a financial institution.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Agt" type="BranchAndFinancialInstitutionIdentification6__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Agent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a financial institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="QueryType3Code__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">QueryType3Code__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the nature of the request, that is whether all information be returned or only information that has changed since the last similar request was returned.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ALLL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">All</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the query requests that all matching items be returned.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ReportingPeriod2__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReportingPeriod2__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the requested reporting period.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FrToDt" type="DatePeriodDetails1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FromToDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies a date range.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Tp" type="QueryType3Code__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies whether all matching items need to be reported or only those items that are new or have changed since the last similar request was made.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReportingRequest5__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReportingRequest5__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides further details on the reporting request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="AccountReporting_FedNow_1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification, as assigned by the account owner, to unambiguously identify the account reporting request.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ReqdMsgNmId" type="MessageNameIdentification_FRS_1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RequestedMessageNameIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the type of the requested reporting message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Acct" type="CashAccount38__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Account</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the account to which the reporting request refers.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AcctOwnr" type="Party40Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountOwner</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that legally owns the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RptgPrd" type="ReportingPeriod2__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportingPeriod</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the requested reporting period.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RoutingNumber_FRS_1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RoutingNumber_FRS_1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">This is a routing number used by the Service participant in connection with the message.&#13;
                &#13;
                Note: This may be a master account routing number or a subaccount routing number. </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{9,9}"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
