docs/Technical resources/FedNow-Service-XML-Schema-Quick-Start-Package-Jun.-1-2023/test_schemas/fednow-variants/AccountDebitCreditNotification_camt.054.001.08.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2016. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: FedNow Service
Collection: FedNow Service Release 1
Usage Guideline: AccountDebitCreditNotification_camt.054.001.08
Base Message: camt.054.001.08
Date of publication: 01 June 2023
URL: https://www2.swift.com/mystandards/#/mp/mx/_kijaUKEYEeuB-v2uhrZqSw/_qR07TZ5FEeyNX8SYmSuaLA
Description: FedNow Service Scope

An account debit credit notification is the message the FedNow Service uses to provide a FedNow correspondent with real-time notice of a value message that was processed and settled by the FedNow Service for a FedNow participant that is a respondent of the correspondent (or in rarer cases a respondent of the correspondent bank’s respondent).

FedNow Service Usage

The account debit credit notification may be used by FedNow correspondents for reconciliation purposes.

The FedNow Service will send account debit credit notifications on an opt-in basis, i.e., financial institutions providing correspondent services will need to sign up to receive this notice of their respondent(s)’s payments.
Generated by the MyStandards web platform [https://www.swift.com/mystandards] on 2023-06-01T13:54:06+00:00
-->
<!---->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:camt.054.001.08" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.054.001.08">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification4Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountIdentification4Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the unique identification of an account as assigned by the account servicer.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Othr" type="GenericAccountIdentification1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of an account, as assigned by the account servicer, using an identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AccountNotification17__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountNotification17__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides further details of the account notification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification, as assigned by the account servicer, to unambiguously identify the account notification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Acct" type="CashAccount39__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Account</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the account to which credit and debit entries are made.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ntry" type="ReportEntry10__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Entry</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies an entry in the debit credit notification.&#13;
                        Usage: At least one reference must be provided to identify the entry and its underlying transaction(s).&#13;
                        &#13;
                        Usage Rule: In case of a Payments R-transaction the creditor / debtor referenced of the original payment initiation messages is also used for reporting of the R-transaction. The original debtor/creditor in the reporting of R-Transactions is not inverted. &#13;
                        Following elements all defined in the TransactionDetails in RelatedParties or RelatedAgents are impacted by this usage rule:&#13;
                        Creditor, UltimateCreditor, CreditorAccount, CreditorAgent, Debtor, UltimateDebtor, DebtorAccount and DebtorAgent.&#13;
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AccountReporting_FedNow_1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountReporting_FedNow_1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">This lists the different types of account reports or account notifications delivered by the FedNow Service.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADCN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Account Debit Credit Notification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">This is an account debit or credit notification to inform a FedNow correspondent of a value message that was processed and settled by the FedNow Service for a FedNow participant / respondent of the correspondent. </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveCurrencyCode_fixed">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyCode_fixed</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="USD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">USD</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_FedNow_1_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="2"/>
            <xs:totalDigits value="14"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount_FedNow_1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveOrHistoricCurrencyAndAmount_FedNow_1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_FedNow_1_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode_fixed" use="required">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Medium of exchange of value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="BankToCustomerDebitCreditNotificationV08">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BankToCustomerDebitCreditNotificationV08</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope
                The BankToCustomerDebitCreditNotification message is sent by the account servicer to an account owner or to a party authorised by the account owner to receive the message. It can be used to inform the account owner, or authorised party, of single or multiple debit and/or credit entries reported to the account.
                Usage
                The BankToCustomerDebitCreditNotification message can contain reports for more than one account. It provides information for cash management and/or reconciliation.
                The BankToCustomerDebitCreditNotification message can be used to:
                - report pending and booked items;
                - notify one or more debit entries;
                - notify one or more credit entries;
                - notify a combination of debit and credit entries.
                It can include underlying details of transactions that have been included in the entry.
                It is possible that the receiver of the message is not the account owner, but a party entitled by the account owner to receive the account information (also known as recipient).
                It does not contain balance information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="GrpHdr" type="GroupHeader81__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GroupHeader</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Common information for the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ntfctn" type="AccountNotification17__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Notification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Notifies debit and credit entries for the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BankTransactionCodeStructure4__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BankTransactionCodeStructure4__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements used to identify the type or operations code of a transaction entry.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Prtry" type="ProprietaryBankTransactionCodeStructure1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Bank transaction code in a proprietary form, as defined by the issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BankTransactionCode_FedNow_1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BankTransactionCode_FedNow_1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">This lists the categories of messages that are being reported on.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="DBIT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ValueMessagesSent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">This is used for value messages submitted by the FedNow Service participant that have been successfully processed by the FedNow Service application.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CRDT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ValueMessagesReceived</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">This is used for value messages that have been successfully processed by the FedNow Service application and delivered to the FedNow Service participant.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification6__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BranchAndFinancialInstitutionIdentification6__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a financial institution or a branch of a financial institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a financial institution, as assigned under an internationally recognised or proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccount39__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CashAccount39__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the details to identify an account.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification4Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClearingSystemIdentification2Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ClearingSystemIdentification2Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of a clearing system identifier.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code_fixed">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a clearing system, in a coded form as published in an external list.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ClearingSystemMemberIdentification2__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ClearingSystemMemberIdentification2__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique identification, as assigned by a clearing system, to unambiguously identify a member of the clearing system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ClrSysId" type="ClearingSystemIdentification2Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClearingSystemIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specification of a pre-agreed offering between clearing agents or the channel through which the payment instruction is processed.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MmbId" type="RoutingNumber_FRS_1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MemberIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a member of a clearing system.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CreditDebitCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CreditDebitCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies if an operation is an increase or a decrease.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Credit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Operation is an increase.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DBIT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Debit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Operation is a decrease.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="BkToCstmrDbtCdtNtfctn" type="BankToCustomerDebitCreditNotificationV08"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EntryDetails9__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">EntryDetails9__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies the underlying transaction(s) and/or batched entries.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="TxDtls" type="EntryTransaction10__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides information on the underlying transaction(s).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EntryStatus1Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">EntryStatus1Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the status of an entry on the books of the account servicer.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="ExternalEntryStatus1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entry status, in a coded form.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="EntryTransaction10__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">EntryTransaction10__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies the underlying transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Refs" type="TransactionReferences6__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">References</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the identification of the underlying transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RltdAgts" type="TransactionAgents5__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RelatedAgents</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Set of elements used to identify the agents related to the underlying transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LclInstrm" type="LocalInstrument2Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LocalInstrument</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">User community specific instrument.
                        Usage: This element is used to specify a local instrument, local clearing option and/or further qualify the service or service level.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RltdDts" type="TransactionDates3__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RelatedDates</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Set of elements used to identify the dates related to the underlying transactions.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExternalClearingSystemIdentification1Code_fixed">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExternalClearingSystemIdentification1Code_fixed</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="USABA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">USABA</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalEntryStatus1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExternalEntryStatus1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the status of an entry on the books of the account servicer, as published in an external code set.&#13;
                External code sets can be downloaded from www.iso20022.org.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstitutionIdentification18__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification18__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the details to identify a financial institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClearingSystemMemberIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information used to identify a member within a clearing system.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericAccountIdentification1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericAccountIdentification1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to a generic account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="RoutingNumber_FRS_1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GroupHeader81__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GroupHeader81__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides further details on the message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="AccountReporting_FedNow_1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the account servicing institution, and sent to the account owner or the party authorised to receive the message, to unambiguously identify the message.
                        Usage: The account servicing institution has to make sure that MessageIdentification is unique per account owner for a pre-agreed period.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the message was created.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MsgPgntn" type="Pagination1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessagePagination</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides details on the page number of the message.

                        Usage: The pagination of the message is only allowed when agreed between the parties.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
                Note on the time format:
                1) beginning / end of calendar day
                00:00:00 = the beginning of a calendar day
                24:00:00 = the end of a calendar day
                2) fractions of second in time format
                Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="LocalInstrument2Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">LocalInstrument2Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements that further identifies the type of local instruments being requested by the initiating party.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Prtry" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the local instrument, as a proprietary code.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text_fixed">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text_fixed</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="RESP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RESP</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max5NumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a numeric string with a maximum length of 5 digits.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification2__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageIdentification2__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements providing the identification of a message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgNmId" type="MessageNameIdentification_FRS_1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageNameIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the message name identifier of the message that will be used to provide additional details.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MessageNameIdentification_FRS_1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageNameIdentification_FRS_1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The Message Name Identification defines the pattern to which all ISO 20022 message identifiers of messages implemented across Federal Reserve Financial Services, e.g., the FedNow or Fedwire Funds Services, need to conform. It is composed of the following parts, separated by a dot '.': the business area (e.g., 'pacs'), the message number (e.g., '008'), the message variant (i.e., '001' for all messages), and the message version (e.g., '01').</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{4,4}[.]{1,1}[0-9]{3,3}[.]{1,1}001[.]{1,1}[0-9]{2,2}"/>
            <xs:length value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Pagination1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Pagination1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number used to sequence pages when it is not possible for data to be conveyed in a single message and the data has to be split across several pages (messages).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PgNb" type="Max5NumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PageNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Page number.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LastPgInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LastPageIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates the last page.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryAgent4__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ProprietaryAgent4__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies a proprietary party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Tp" type="Max35Text_fixed">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the type of proprietary agent.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Agt" type="BranchAndFinancialInstitutionIdentification6__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Agent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Organisation established primarily to provide financial services.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryBankTransactionCodeStructure1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ProprietaryBankTransactionCodeStructure1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements to fully identify a proprietary bank transaction code.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Cd" type="BankTransactionCode_FedNow_1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary bank transaction code to identify the underlying transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReportEntry10__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReportEntry10__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides further details on an entry in the report.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount_FedNow_1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Amount of money in the cash entry.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CdtDbtInd" type="CreditDebitCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreditDebitIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the entry is a credit or a debit entry.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Sts" type="EntryStatus1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Status</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Status of an entry on the books of the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BkTxCd" type="BankTransactionCodeStructure4__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BankTransactionCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Set of elements used to fully identify the type of underlying transaction resulting in an entry.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AddtlInfInd" type="MessageIdentification2__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalInformationIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the underlying transaction details are provided through a separate message, as in the case of aggregate bookings.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NtryDtls" type="EntryDetails9__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EntryDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides details on the entry.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RoutingNumber_FRS_1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RoutingNumber_FRS_1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">This is a routing number used by the Service participant in connection with the message.&#13;
                &#13;
                Note: This may be a master account routing number or a subaccount routing number. </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{9,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TransactionAgents5__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransactionAgents5__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides further details on the agents specific to the individual transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification6__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InstructingAgent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Agent that instructs the next party in the chain to carry out the (set of) instruction(s).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="InstdAgt" type="BranchAndFinancialInstitutionIdentification6__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InstructedAgent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Agent that is instructed by the previous party in the chain to carry out the (set of) instruction(s).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Prtry" type="ProprietaryAgent4__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary agent related to the underlying transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionDates3__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransactionDates3__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements used to provide information on the dates related to the underlying individual transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="AccptncDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AcceptanceDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point in time when the payment order from the initiating party meets the processing conditions of the account servicing agent. This means that the account servicing agent has received the payment order and has applied checks such as authorisation, availability of funds.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IntrBkSttlmDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InterbankSettlementDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date on which the amount of money ceases to be available to the agent that owes it and when the amount of money becomes available to the agent to which it is due.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionReferences6__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransactionReferences6__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies the underlying transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the instructing party of the underlying message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="InstrId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InstructionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification, as assigned by an instructing party for an instructed party, to unambiguously identify the instruction.

                        Usage: The instruction identification is a point to point reference that can be used between the instructing party and the instructed party to refer to the individual instruction. It can be included in several messages related to the instruction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="EndToEndId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EndToEndIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification, as assigned by the initiating party, to unambiguously identify the transaction. This identification is passed on, unchanged, throughout the entire end-to-end chain.

                        Usage: The end-to-end identification can be used for reconciliation or to link tasks relating to the transaction. It can be included in several messages related to the transaction.

                        Usage: In case there are technical limitations to pass on multiple references, the end-to-end identification must be passed on throughout the entire end-to-end chain.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="UETR" type="UUIDv4Identifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UETR</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Universally unique identifier to provide an end-to-end reference of a payment transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TxId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification, as assigned by the first instructing agent, to unambiguously identify the transaction that is passed on, unchanged, throughout the entire interbank chain.
                        Usage: The transaction identification can be used for reconciliation, tracking or to link tasks relating to the transaction on the interbank level.
                        Usage: The instructing agent has to make sure that the transaction identification is unique for a pre-agreed period.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="UUIDv4Identifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">UUIDv4Identifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Universally Unique IDentifier (UUID) version 4, as described in IETC RFC 4122 "Universally Unique IDentifier (UUID) URN Namespace".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">YesNoIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates a "Yes" or "No" type of answer for an element.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
