docs/Technical resources/FedNow-Service-XML-Schema-Quick-Start-Package-Jun.-1-2023/test_schemas/fednow-variants/BusinessApplicationHeader_head.001.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2016. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: FedNow Service
Collection: FedNow Service Release 1
Usage Guideline: BusinessApplicationHeader_head.001.001.02
Base Message: head.001.001.02
Date of publication: 01 June 2023
URL: https://www2.swift.com/mystandards/#/mp/mx/_kijaUKEYEeuB-v2uhrZqSw/_qR07WZ5FEeyNX8SYmSuaLA
Description: FedNow Service Scope

The Business Application Header (BAH) provides a bridge between the more technical network envelope and the actual ISO 20022 business message, e.g., the payment instruction.

FedNow Service Usage

The Business Application Header (BAH) is required for all messages sent across the FedNow Service, i.e., value, nonvalue, system, and reporting messages.

A single guideline for usage of the BAH has been defined for FedNow participants and the FedNow Service application. Where needed, differences in usage between FedNow participants and the FedNow Service are captured in specific rules.
Generated by the MyStandards web platform [https://www.swift.com/mystandards] on 2023-06-01T13:54:07+00:00
-->
<!---->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:head.001.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:head.001.001.02">
  <xs:element name="AppHdr" type="BusinessApplicationHeaderV02"/>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification6__1">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">BranchAndFinancialInstitutionIdentification6__1</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a financial institution or a branch of a financial institution.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18__1">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a financial institution, as assigned under an internationally recognised or proprietary identification scheme.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BusinessApplicationHeader5__1">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">BusinessApplicationHeader5__1</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">Specifies the Business Application Header of the Business Message.&#13;
        Can be used when replying to a query; can also be used when canceling or amending.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Fr" type="Party44Choice__1">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">From</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">The sending MessagingEndpoint that has created this Business Message for the receiving MessagingEndpoint that will process this Business Message.&#13;
            &#13;
            Note	the sending MessagingEndpoint might be different from the sending address potentially contained in the transport header (as defined in the transport layer).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="To" type="Party44Choice__1">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">To</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">The MessagingEndpoint designated by the sending MessagingEndpoint to be the recipient who will ultimately process this Business Message.&#13;
            &#13;
            Note the receiving MessagingEndpoint might be different from the receiving address potentially contained in the transport header (as defined in the transport layer).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BizMsgIdr" type="Max35Text">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">BusinessMessageIdentifier</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Unambiguously identifies the Business Message to the MessagingEndpoint that has created the Business Message.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MsgDefIdr" type="MessageNameIdentification_FRS_1">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">MessageDefinitionIdentifier</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Contains the MessageIdentifier that defines the BusinessMessage.&#13;
            It must contain a MessageIdentifier published on the ISO 20022 website.&#13;
            &#13;
            example	camt.001.001.03.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="BizSvc" type="Max35Text">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">BusinessService</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Specifies the business service agreed between the two MessagingEndpoints under which rules this Business Message is exchanged.&#13;
            To be used when there is a choice of processing services or processing service levels.&#13;
            Example: E&amp;I.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CreDt" type="ISODateTime">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">CreationDate</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Date and time when this Business Message (header) was created.&#13;
            Note Times must be normalized, using the "Z" annotation.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BusinessApplicationHeaderV02">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">BusinessApplicationHeaderV02</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">The Business Layer deals with Business Messages. The behaviour of the Business Messages is fully described by the Business Transaction and the structure of the Business Messages is fully described by the Message Definitions and related Message Rules, Rules and Market Practices. All of which are registered in the ISO 20022 Repository.&#13;
        A single new Business Message (with its accompagnying business application header) is created - by the sending MessagingEndpoint - for each business event; that is each interaction in a Business Transaction. A Business Message adheres to the following principles:&#13;
        " A Business Message (and its business application header) must not contain information about the Message Transport System or the mechanics or mechanism of message sending, transportation, or receipt. &#13;
        " A Business Message must be comprehensible outside of the context of the Transport Message. That is the Business Message must not require knowledge of the Transport Message to be understood.&#13;
        " A Business Message may contain headers, footers, and envelopes that are meaningful for the business. When present, they are treated as any other message content, which means that they are considered part of the Message Definition of the Business Message and as such will be part of the ISO 20022 Repository.&#13;
        " A Business Message refers to Business Actors by their Name. Each instance of a Business Actor has one Name. The Business Actor must not be referred to in the Transport Layer.&#13;
        Specific usage of this BusinessMessageHeader may be defined by the relevant SEG.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Fr" type="Party44Choice__1">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">From</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">The sending MessagingEndpoint that has created this Business Message for the receiving MessagingEndpoint that will process this Business Message.&#13;
            &#13;
            Note	the sending MessagingEndpoint might be different from the sending address potentially contained in the transport header (as defined in the transport layer).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="To" type="Party44Choice__1">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">To</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">The MessagingEndpoint designated by the sending MessagingEndpoint to be the recipient who will ultimately process this Business Message.&#13;
            &#13;
            Note the receiving MessagingEndpoint might be different from the receiving address potentially contained in the transport header (as defined in the transport layer).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BizMsgIdr" type="Max35Text">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">BusinessMessageIdentifier</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Unambiguously identifies the Business Message to the MessagingEndpoint that has created the Business Message.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MsgDefIdr" type="MessageNameIdentification_FRS_1">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">MessageDefinitionIdentifier</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Contains the MessageIdentifier that defines the BusinessMessage.&#13;
            It must contain a MessageIdentifier published on the ISO 20022 website.&#13;
            &#13;
            example	camt.001.001.03.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="BizSvc" type="Max35Text">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">BusinessService</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Specifies the business service agreed between the two MessagingEndpoints under which rules this Business Message is exchanged.&#13;
            To be used when there is a choice of processing services or processing service levels.&#13;
            Example: E&amp;I.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MktPrctc" type="ImplementationSpecification1__1">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">MarketPractice</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Specifies the market practice to which the message conforms. The market practices are a set of rules agreed between parties that restricts the usage of the messages in order to achieve better STP (Straight Through Processing) rates.&#13;
            A market practice specification may also extend the underlying message specification by using extensions or supplementary data of this underlying message.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CreDt" type="ISODateTime">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">CreationDate</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Date and time when this Business Message (header) was created.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="BizPrcgDt" type="ISODateTime">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">BusinessProcessingDate</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Processing date and time indicated by the sender for the receiver of the business message. This date may be different from the date and time provided in the CreationDate.&#13;
            &#13;
            Usage: Market practice or bilateral agreement should specify how this element should be used.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="CpyDplct" type="CopyDuplicate1Code__1">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">CopyDuplicate</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Indicates whether the message is a Copy, a Duplicate or a copy of a duplicate of a previously sent ISO 20022 Message.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="Rltd" type="BusinessApplicationHeader5__1">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">Related</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Specifies the Business Application Header(s) of the Business Message(s) to which this Business Message relates.&#13;
            Can be used when replying to a query; can also be used when canceling or amending.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClearingSystemMemberIdentification2__1">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">ClearingSystemMemberIdentification2__1</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">Unique identification, as assigned by a clearing system, to unambiguously identify a member of the clearing system.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="MmbId" type="ConnectionPartyIdentifier_FedNow_1">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">MemberIdentification</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Identification of a member of a clearing system.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ConnectionPartyIdentifier_FedNow_1">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">ConnectionPartyIdentifier_FedNow_1</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">The Connection Party Identifier identifies the organization that maintains an electronic connection to the FedNow Service through which that organization may send or receive messages for itself or on behalf of a FedNow participant. This may be a routing number (RTN), an Electronic Transaction Identifier (ETI), or an identifier defined by the FedNow Service. </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z0-9]{9,9}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CopyDuplicate1Code__1">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">CopyDuplicate1Code__1</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">Specifies if this document is a copy, a duplicate, or a duplicate of a copy.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="DUPL">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">Duplicate</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Message is for information/confirmation purposes. It is a duplicate of a message previously sent.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="FinancialInstitutionIdentification18__1">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification18__1</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">Specifies the details to identify a financial institution.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2__1">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">ClearingSystemMemberIdentification</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Information used to identify a member within a clearing system.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ISODateTime">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
        Note on the time format:
        1) beginning / end of calendar day
        00:00:00 = the beginning of a calendar day
        24:00:00 = the end of a calendar day
        2) fractions of second in time format
        Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:complexType name="ImplementationSpecification1__1">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">ImplementationSpecification1__1</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">Identifies the implementation specification to which the ISO 20022 message conforms.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Regy" type="Max350Text_fixed">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">Registry</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Name of the implementation specification registry in which the implementation specification of the ISO 20022 message is maintained.&#13;
            For example, "MyStandards".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Id" type="MarketPracticeIdentification_FedNow_1">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Identifier which unambiguously identifies, within the implementation specification registry, the implementation specification to which the ISO 20022 message is compliant. This can be done via a URN. It can also contain a version number or date.&#13;
            For instance, "2018-01-01 – Version 2" or "urn:uuid:6e8bc430-9c3a-11d9-9669-0800200c9a66".</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="MarketPracticeIdentification_FedNow_1">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">MarketPracticeIdentification_FedNow_1</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">The Market Practice Identification is a unique identifier for the FedNow Service implementation guideline to which a message conforms, and is composed of the following parts, separated by a dot '.' : the organization (i.e., 'frb'), the service (i.e., 'fednow'), an optional business context (e.g., 'rrr' for a camt.029 return request response), and the version (i.e., '01').</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="frb([.]{1,1})fednow([.]{1,1})(([a-z]{3,3}[.]{1,1})){0,1}01"/>
      <xs:minLength value="13"/>
      <xs:maxLength value="17"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max350Text_fixed">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">Max350Text_fixed</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="www2.swift.com/mystandards/#/group/Federal_Reserve_Financial_Services/FedNow_Service">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">www2.swift.com/mystandards/#/group/Federal_Reserve_Financial_Services/FedNow_Service</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MessageNameIdentification_FRS_1">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">MessageNameIdentification_FRS_1</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">The Message Name Identification defines the pattern to which all ISO 20022 message identifiers of messages implemented across Federal Reserve Financial Services, e.g., the FedNow or Fedwire Funds Services, need to conform. It is composed of the following parts, separated by a dot '.': the business area (e.g., 'pacs'), the message number (e.g., '008'), the message variant (i.e., '001' for all messages), and the message version (e.g., '01').</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-z]{4,4}[.]{1,1}[0-9]{3,3}[.]{1,1}001[.]{1,1}[0-9]{2,2}"/>
      <xs:length value="15"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Party44Choice__1">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">Party44Choice__1</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">Identification of a person, an organisation or a financial institution.</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="FIId" type="BranchAndFinancialInstitutionIdentification6__1">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Identification of a financial institution.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
</xs:schema>
