docs/Technical resources/FedNow-Service-XML-Schema-Quick-Start-Package-Jun.-1-2023/test_schemas/fednow-variants/FedNowBroadcast_admi.004.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2016. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: FedNow Service
Collection: FedNow Service Release 1
Usage Guideline: FedNowBroadcast_admi.004.001.02
Base Message: admi.004.001.02
Date of publication: 01 June 2023
URL: https://www2.swift.com/mystandards/#/mp/mx/_kijaUKEYEeuB-v2uhrZqSw/_rz7AJZ5FEeyNX8SYmSuaLA
Description: FedNow Service Scope

A FedNow broadcast is the message the FedNow Service uses to notify FedNow participants of a FedNow Service or a FedNow participant event.

FedNow Service Usage

The FedNow broadcast is used to provide information about the FedNow Service operations such as a FedNow funds-transfer business day extension or rollover, a change in a transaction limit, the availability of new FedNow Service public keys, or any ad hoc information related to the FedNow Service.

The FedNow broadcast is also used to relay a FedNow participant's operational status to all FedNow participants, i.e., a participant sign-on or sign-off.

The FedNow Service will also use the FedNow broadcast to inform an individual FedNow participant that it has been reactivated after a previous suspension.
Generated by the MyStandards web platform [https://www.swift.com/mystandards] on 2023-06-01T13:54:07+00:00
-->
<!---->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:admi.004.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:admi.004.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SysEvtNtfctn" type="SystemEventNotificationV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Event2__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Event2__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides information on an event that happened in a system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="EvtCd" type="Event_FedNow_1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EventCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary code used to specify an event that occurred in a system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="EvtParam" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EventParameter</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Describes the parameters of an event which occurred in a system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="EvtDesc" type="Max1000Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EventDescription</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Free text used to describe an event which occurred in a system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EvtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EventTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the event occurred.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Event_FedNow_1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Event_FedNow_1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">This lists the types of events that can occur during a FedNow Service funds-transfer business day.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ROLL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SystemRollover</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">FedNow Service has rolled over to the next funds-transfer business day.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EXTN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SystemExtension</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">FedNow Service funds-transfer business day has been extended.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ADHC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdHoc</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Ad hoc FedNow Service customized message.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FPOF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Participant Offline</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">FedNow Service participant is currently offline.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FPON">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Participant Online</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">FedNow Service participant previously reported offline is back online.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FPRE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Participant Reactivation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">FedNow Service participant previously suspended has been reactivated.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SITL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Transaction Limit Change</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">FedNow Service funds-transfer transaction limit has been changed.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FNKY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FedNow Keys</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">New FedNow Service public keys are available.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
                Note on the time format:
                1) beginning / end of calendar day
                00:00:00 = the beginning of a calendar day
                24:00:00 = the end of a calendar day
                2) fractions of second in time format
                Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max1000Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max1000Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 1000 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="1000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SystemEventNotificationV02">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemEventNotificationV02</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
                The SystemEventNotification message is sent by a central system to notify the occurrence of an event in a central system.&#13;
                Usage&#13;
                The message can be used by a central settlement system to inform its participants of an event that is going to occur in the system, for instance that the system will be down at a certain time, etc.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="EvtInf" type="Event2__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EventInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Detailed information about a system event.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
