docs/Technical resources/FedNow-Service-XML-Schema-Quick-Start-Package-Jun.-1-2023/test_schemas/fednow-variants/ParticipantBroadcast_admi.004.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2016. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: FedNow Service
Collection: FedNow Service Release 1
Usage Guideline: ParticipantBroadcast_admi.004.001.02
Base Message: admi.004.001.02
Date of publication: 01 June 2023
URL: https://www2.swift.com/mystandards/#/mp/mx/_kijaUKEYEeuB-v2uhrZqSw/_rz7ARZ5FEeyNX8SYmSuaLA
Description: FedNow Service Scope

A participant broadcast is the message a FedNow participant uses to either notify the FedNow Service of the occurrence of a participant event (i.e., connection party sign-on or sign-off, connection point disconnection or reconnection) or to query whether there is a connection to the FedNow Service (i.e., ping).

FedNow Service Usage

If a FedNow participant uses the participant broadcast to notify the FedNow Service it is signing off from, or signing on to the FedNow Service, then the FedNow Service will confirm the sign-on or sign-off by sending the FedNow participant a FedNow system response (admi.011). The FedNow Service will inform all FedNow participants of the individual FedNow participant’s event by sending a FedNow broadcast (admi.004).

If a FedNow participant uses the participant broadcast to check its connection and ping the FedNow Service, or to disconnect or reconnect a connection point, then the FedNow Service will respond to the broadcast by sending the FedNow participant a FedNow system response (admi.011).
Generated by the MyStandards web platform [https://www.swift.com/mystandards] on 2023-06-01T13:54:10+00:00
-->
<!---->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:admi.004.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:admi.004.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ConnectionIdentifier_FedNow_1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ConnectionIdentifier_FedNow_1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The Connection Identifier identifies the organization that maintains an electronic connection to the FedNow Service through which that organization may send or receive messages for itself or on behalf of a FedNow participant by either its 9-character Connection Party Identifier or its 7-character Connection Point Identifier. </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{7,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SysEvtNtfctn" type="SystemEventNotificationV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Event2__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Event2__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides information on an event that happened in a system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="EvtCd" type="Event_FedNow_1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EventCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary code used to specify an event that occurred in a system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="EvtParam" type="ConnectionIdentifier_FedNow_1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EventParameter</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Describes the parameters of an event which occurred in a system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EvtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EventTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the event occurred.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Event_FedNow_1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Event_FedNow_1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">This lists the types of events that can occur during a FedNow Service funds-transfer business day.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="FPOF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Participant Offline</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">FedNow Service participant is currently offline.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FPON">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Participant Online</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">FedNow Service participant previously reported offline is back online.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PING">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Connection Check</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">FedNow Service participant check of the connection to the FedNow Service (i.e., ping).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FPCD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Connection Point Disconnect</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">FedNow Service participant or FedNow connection party disconnect of a connection point to the FedNow Service.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FPCR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Connection Point Reconnect</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">FedNow Service participant or FedNow connection party reconnect of a connection point to the FedNow Service.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
                Note on the time format:
                1) beginning / end of calendar day
                00:00:00 = the beginning of a calendar day
                24:00:00 = the end of a calendar day
                2) fractions of second in time format
                Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="SystemEventNotificationV02">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemEventNotificationV02</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
                The SystemEventNotification message is sent by a central system to notify the occurrence of an event in a central system.&#13;
                Usage&#13;
                The message can be used by a central settlement system to inform its participants of an event that is going to occur in the system, for instance that the system will be down at a certain time, etc.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="EvtInf" type="Event2__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EventInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Detailed information about a system event.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
